.Search__input-container {
  max-width: 300px;
  margin-left: auto;
  padding: 0 0 30px 30px;
}

.Search__results {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.Search__container {
  width: 100%;
}

@media all and (max-width: 550px) {
  .Search__input-container {
    max-width: none;
    padding-left: 0;
  }

  .Search__results {
    padding: 30px 0;
  }
}
