.PlayerPage {
  min-height: 100vh;
}

.PlayerPage__close {
  position: fixed;
  top: var(--base-space);
  right: var(--base-space);
  color: var(--main-text-color);
  font-size: 40px;
  z-index: 2;
}
