.Details {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.Details__overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}

.Details__overlay > * {
  flex-grow: 1;
  flex-basis: 0;
}

.Details__details-container {
  color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.Details__title {
  color: var(--main-action-color);
  font-size: 3em;
  margin: 0 0 var(--base-space) 0;
}

.Details__meta {
  display: flex;
  font-size: 2em;
  align-items: baseline;
}

.Details__meta-item {
  margin: 0 var(--base-space) var(--base-space) 0;
}

.Details__secondary {
  font-size: 0.7em;
}

.Details__image-container {
  margin-left: 30px;
}

.Details__image {
  max-width: 100%;
}

@media all and (max-width: 550px) {
  .Details__overlay {
    flex-direction: column;
  }

  .Details__image-container {
    margin-left: 0;
    margin-top: 30px;
  }
}
